body {  
    font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  }  
body { 
/* CSS Variables that may have been missed get put on body */ 
    --unstable_DataGrid-radius:  4px;  
    --unstable_DataGrid-headWeight:  500;  
    --unstable_DataGrid-overlayBackground:  rgba(255, 255, 255, 0.38);  
} 

body { 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale; 
    background-color: #ecfcff; 
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif; 
    margin: 0;
} 

.css-1xfvyax { 
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; 
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px; 
    display: flex; 
    flex-direction: column; 
    width: 100%; 
    box-sizing: border-box; 
    flex-shrink: 0; 
    position: sticky; 
    z-index: 1100; 
    top: 0px; 
    left: auto; 
    right: 0px; 
    background-color: rgb(25, 118, 210); 
    color: rgb(255, 255, 255);
} 

.css-10ur324 { 
    width: 100%; 
    margin-left: auto; 
    box-sizing: border-box; 
    margin-right: auto; 
    display: block; 
    padding-left: 16px; 
    padding-right: 16px;
} 

@media (min-width: 600px){ 
  .css-10ur324 { 
    padding-left: 24px; 
    padding-right: 24px;
  } 
}     

.jss13 { 
    display: flex; 
    overflow: hidden; 
    white-space: nowrap;
} 

.css-x8c7hc { 
    width: 100%; 
    margin-left: auto; 
    box-sizing: border-box; 
    margin-right: auto; 
    display: block; 
    padding-left: 16px; 
    padding-right: 16px; 
    margin-top: 48px;
} 

@media (min-width: 600px){ 
  .css-x8c7hc { 
    padding-left: 24px; 
    padding-right: 24px;
  } 
}     

@media (min-width: 1200px){ 
  .css-x8c7hc { 
    max-width: 1200px;
  } 
}     

.css-mckm1k { 
    margin: 4rem 0px 0px; 
    font-family: Roboto, Helvetica, Arial, sans-serif; 
    font-weight: 400; 
    font-size: 0.875rem; 
    line-height: 1.43; 
    letter-spacing: 0.01071em; 
    text-align: center; 
    color: rgba(0, 0, 0, 0.6);
} 

.css-1i92hma { 
    margin: 0px; 
    font-family: Roboto, Helvetica, Arial, sans-serif; 
    font-weight: 400; 
    line-height: 1.5; 
    letter-spacing: 0.00938em; 
    color: rgb(211, 47, 47); 
    font-size: 18px; 
    padding: 8px;
} 

.jss14 { 
    animation: jss15 20s linear infinite;
} 

.css-i889vy { 
    background-color: rgb(255, 255, 255); 
    color: rgba(0, 0, 0, 0.87); 
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; 
    border-radius: 4px; 
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px, rgba(0, 0, 0, 0.14) 0px 5px 8px 0px, rgba(0, 0, 0, 0.12) 0px 1px 14px 0px;
} 

.css-17405ie { 
    margin: 0px; 
    font-family: inherit; 
    font-weight: inherit; 
    font-size: inherit; 
    line-height: inherit; 
    letter-spacing: inherit; 
    text-decoration: underline; 
    color: inherit;
} 

.css-17405ie:hover { 
    text-decoration-color: inherit;
} 

.css-12o98wt { 
    position: relative; 
    display: flex; 
    -webkit-box-align: center; 
    align-items: center; 
    min-height: 56px;
} 

@media (orientation: landscape){ 
  .css-12o98wt { 
    min-height: 48px;
  } 
}     

@media (min-width: 600px){ 
  .css-12o98wt { 
    min-height: 64px;
  } 
}     

.css-pc1mzd { 
    overflow: hidden; 
    min-height: 48px; 
    display: flex;
} 

.css-39bbo6 { 
    margin: 0px; 
    flex-shrink: 0; 
    border-width: 0px 0px thin; 
    border-style: solid; 
    border-color: rgba(0, 0, 0, 0.12);
} 

.css-19kzrtu { 
    padding: 24px;
} 

.css-1ppfs82 { 
    width: 100%; 
    margin-left: auto; 
    box-sizing: border-box; 
    margin-right: auto; 
    padding-left: 16px; 
    padding-right: 16px; 
    display: flex; 
    -webkit-box-pack: justify; 
    justify-content: space-between; 
    -webkit-box-align: center; 
    align-items: center;
} 

@media (min-width: 600px){ 
  .css-1ppfs82 { 
    padding-left: 24px; 
    padding-right: 24px;
  } 
}     

.css-1anid1y { 
    position: relative; 
    display: inline-block; 
    flex: 1 1 auto; 
    white-space: nowrap; 
    overflow-x: hidden; 
    width: 100%;
} 

.css-axmxbk { 
    display: flex; 
    flex-direction: row; 
    margin-bottom: 20px;
} 

.css-1o47470 { 
    display: flex; 
    flex-direction: column;
} 

@media (min-width: 0px){ 
  .css-1o47470 { 
    flex-direction: column;
  } 
}     

@media (min-width: 900px){ 
  .css-1o47470 { 
    flex-direction: row;
  } 
}     

.css-1mv9vat { 
    display: flex; 
    flex-direction: row; 
    margin-top: 20px;
} 

.css-6f6728 { 
    display: flex; 
    flex-direction: row;
} 

.css-j7qwjs { 
    display: flex; 
    flex-direction: column;
} 

.css-1kb8ac8 { 
    display: flex; 
    flex-direction: row; 
    column-gap: 8px; 
    -webkit-box-flex: 1; 
    flex-grow: 1;
} 

.css-1egs8ln { 
    display: flex; 
    flex-direction: row; 
    margin-right: 16px;
} 

.css-1abzdwk { 
    display: flex; 
    flex-direction: row; 
    -webkit-box-align: center; 
    align-items: center;
} 

.css-k008qs { 
    display: flex;
} 

.css-ttwr4n { 
    position: absolute; 
    height: 2px; 
    bottom: 0px; 
    width: 100%; 
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; 
    background-color: rgb(25, 118, 210);
} 

.css-axmxbk > :not(style) + :not(style)  { 
    margin: 0px 0px 0px 40px;
} 

.css-feqhe6 { 
    display: inline-flex; 
    flex-direction: column; 
    position: relative; 
    min-width: 0px; 
    padding: 0px; 
    margin: 0px; 
    border: 0px; 
    vertical-align: top; 
    width: 100%;
} 

.css-1u0h3mu { 
    display: inline-flex; 
    flex-direction: column; 
    position: relative; 
    min-width: 0px; 
    padding: 0px; 
    margin: 16px 0px 8px; 
    border: 0px; 
    vertical-align: top; 
    width: 100%;
} 

@media (min-width: 0px){ 
  .css-1o47470 > :not(style) + :not(style)  { 
    margin: 24px 0px 0px;
  } 
}     

@media (min-width: 900px){ 
  .css-1o47470 > :not(style) + :not(style)  { 
    margin: 0px 0px 0px 24px;
  } 
}     

.css-7vnyd3 { 
    margin-left: auto; 
    box-sizing: border-box; 
    margin-right: auto; 
    display: block; 
    padding-left: 16px; 
    padding-right: 16px; 
    width: 100%;
} 

@media (min-width: 600px){ 
  .css-7vnyd3 { 
    padding-left: 24px; 
    padding-right: 24px;
  } 
}     

@media (min-width: 1200px){ 
  .css-7vnyd3 { 
    max-width: 1200px;
  } 
}     

.css-155kwra { 
    display: inline-flex; 
    -webkit-box-align: center; 
    align-items: center; 
    -webkit-box-pack: center; 
    justify-content: center; 
    position: relative; 
    box-sizing: border-box; 
    -webkit-tap-highlight-color: transparent; 
    outline: 0px; 
    border: 0px; 
    margin: 16px 0px 0px; 
    cursor: pointer; 
    user-select: none; 
    vertical-align: middle; 
    appearance: none; 
    text-decoration: none; 
    font-family: Roboto, Helvetica, Arial, sans-serif; 
    font-weight: 500; 
    font-size: 0.875rem; 
    line-height: 1.75; 
    letter-spacing: 0.02857em; 
    text-transform: uppercase; 
    min-width: 64px; 
    padding: 6px 16px; 
    border-radius: 4px; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; 
    color: rgb(255, 255, 255); 
    background-color: rgb(25, 118, 210); 
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px; 
    max-width: 200px;
} 

.css-155kwra:hover { 
    text-decoration: none; 
    background-color: rgb(21, 101, 192); 
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
} 

.css-13gzsmf { 
    width: 60px; 
    height: 60px;
} 

.css-15snpqn { 
    margin: 8px 0px 0px; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap;
} 

.css-gqklnu { 
    width: 100px; 
    height: 60px;
} 

.css-1egs8ln > :not(style) + :not(style)  { 
    margin: 0px 0px 0px 8px;
} 

.css-u4p24i { 
    display: flex; 
    flex-direction: row; 
    -webkit-box-align: center; 
    align-items: center;
} 

.css-1deacqj { 
    display: inline-flex; 
    -webkit-box-align: center; 
    align-items: center; 
    -webkit-box-pack: center; 
    justify-content: center; 
    position: relative; 
    box-sizing: border-box; 
    -webkit-tap-highlight-color: transparent; 
    background-color: transparent; 
    outline: 0px; 
    border: 0px; 
    margin: 0px; 
    cursor: pointer; 
    user-select: none; 
    vertical-align: middle; 
    appearance: none; 
    text-decoration: none; 
    text-align: center; 
    flex: 0 0 auto; 
    font-size: 1.5rem; 
    padding: 8px; 
    border-radius: 50%; 
    overflow: visible; 
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; 
    color: inherit;
} 

.css-1abzdwk > :not(style) + :not(style)  { 
    margin: 0px 0px 0px 16px;
} 

.css-1deacqj:hover { 
    background-color: rgba(0, 0, 0, 0.04);
} 

.css-1y45686 { 
    display: inline-flex; 
    -webkit-box-align: center; 
    align-items: center; 
    -webkit-box-pack: center; 
    justify-content: center; 
    box-sizing: border-box; 
    -webkit-tap-highlight-color: transparent; 
    background-color: transparent; 
    outline: 0px; 
    border: 0px; 
    margin: 0px; 
    border-radius: 0px; 
    cursor: pointer; 
    user-select: none; 
    vertical-align: middle; 
    appearance: none; 
    text-decoration: none; 
    font-family: Roboto, Helvetica, Arial, sans-serif; 
    font-size: 0.875rem; 
    line-height: 1.25; 
    letter-spacing: 0.02857em; 
    text-transform: uppercase; 
    max-width: none; 
    min-width: 90px; 
    position: relative; 
    min-height: 72px; 
    flex: 1 1 0px; 
    padding: 9px 16px; 
    overflow: hidden; 
    white-space: normal; 
    text-align: center; 
    flex-direction: row; 
    color: rgba(0, 0, 0, 0.6); 
    -webkit-box-flex: 1; 
    font-weight: 700;
} 

.css-1y45686.Mui-selected { 
    color: rgb(25, 118, 210);
} 

.css-18nn89h { 
    display: inline-flex; 
    flex-direction: column; 
    position: relative; 
    padding: 0px; 
    margin: 0px; 
    border: 0px; 
    vertical-align: top; 
    min-width: 180px;
} 

.css-1ald77x { 
    color: rgba(0, 0, 0, 0.6); 
    font-family: Roboto, Helvetica, Arial, sans-serif; 
    font-weight: 400; 
    font-size: 1rem; 
    line-height: 1.4375em; 
    letter-spacing: 0.00938em; 
    padding: 0px; 
    display: block; 
    transform-origin: left top; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    max-width: calc(133% - 32px); 
    position: absolute; 
    left: 0px; 
    top: 0px; 
    transform: translate(14px, -9px) scale(0.75); 
    transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, max-width 200ms cubic-bezier(0, 0, 0.2, 1) 0ms; 
    z-index: 1; 
    pointer-events: auto; 
    user-select: none;
} 

.css-2xhzvc { 
    font-family: Roboto, Helvetica, Arial, sans-serif; 
    font-weight: 400; 
    font-size: 1rem; 
    line-height: 1.4375em; 
    letter-spacing: 0.00938em; 
    color: rgba(0, 0, 0, 0.87); 
    box-sizing: border-box; 
    cursor: text; 
    display: inline-flex; 
    -webkit-box-align: center; 
    align-items: center; 
    width: 100%; 
    position: relative; 
    border-radius: 4px; 
    padding-left: 14px;
} 

.css-duaqfz { 
    --unstable_DataGrid-radius: 4px; 
    --unstable_DataGrid-headWeight: 500; 
    --unstable_DataGrid-overlayBackground: rgba(255, 255, 255, 0.38); 
    flex: 1 1 0%; 
    box-sizing: border-box; 
    position: relative; 
    border-width: 1px; 
    border-style: solid; 
    border-color: rgb(224, 224, 224); 
    border-radius: var(--unstable_DataGrid-radius); 
    color: rgba(0, 0, 0, 0.87); 
    font-family: Roboto, Helvetica, Arial, sans-serif; 
    font-weight: 400; 
    font-size: 0.875rem; 
    line-height: 1.43; 
    letter-spacing: 0.01071em; 
    outline: none; 
    height: 100%; 
    display: flex; 
    flex-direction: column; 
    overflow-anchor: none;
} 

.css-duaqfz.MuiDataGrid-autoHeight { 
    height: auto;
} 

.css-w0pj6f { 
    overflow: hidden; 
    pointer-events: none; 
    position: absolute; 
    z-index: 0; 
    inset: 0px; 
    border-radius: inherit;
} 

.css-vubbuv { 
    user-select: none; 
    width: 1em; 
    height: 1em; 
    display: inline-block; 
    fill: currentcolor; 
    flex-shrink: 0; 
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; 
    font-size: 1.5rem;
} 

.css-1uk1gs8 { 
    margin: 0px;
} 

.css-1rzb3uu { 
    position: relative; 
    display: inline-flex; 
    vertical-align: middle; 
    flex-shrink: 0;
} 

.css-1ozsml8 { 
    display: inline-flex; 
    -webkit-box-align: center; 
    align-items: center; 
    -webkit-box-pack: center; 
    justify-content: center; 
    position: relative; 
    box-sizing: border-box; 
    -webkit-tap-highlight-color: transparent; 
    background-color: transparent; 
    outline: 0px; 
    border: 0px; 
    margin: 0px 0px 0px -12px; 
    cursor: pointer; 
    user-select: none; 
    vertical-align: middle; 
    appearance: none; 
    text-decoration: none; 
    text-align: center; 
    flex: 0 0 auto; 
    border-radius: 50%; 
    overflow: visible; 
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; 
    color: inherit; 
    padding: 12px; 
    font-size: 1.75rem;
} 

.css-14972d3 { 
    display: inline-flex; 
    -webkit-box-align: center; 
    align-items: center; 
    -webkit-box-pack: center; 
    justify-content: center; 
    position: relative; 
    box-sizing: border-box; 
    -webkit-tap-highlight-color: transparent; 
    background-color: transparent; 
    outline: 0px; 
    border: 0px; 
    margin: 0px 0px 0px -12px; 
    cursor: pointer; 
    user-select: none; 
    vertical-align: middle; 
    appearance: none; 
    text-decoration: none; 
    text-align: center; 
    flex: 0 0 auto; 
    font-size: 1.5rem; 
    padding: 8px; 
    border-radius: 50%; 
    overflow: visible; 
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; 
    color: inherit;
} 

.css-1y45686 > .MuiTab-iconWrapper  { 
    margin-right: 8px;
} 

.css-fvipm8 { 
    font-family: Roboto, Helvetica, Arial, sans-serif; 
    font-weight: 400; 
    font-size: 1rem; 
    line-height: 1.4375em; 
    letter-spacing: 0.00938em; 
    color: rgba(0, 0, 0, 0.87); 
    box-sizing: border-box; 
    cursor: text; 
    display: inline-flex; 
    -webkit-box-align: center; 
    align-items: center; 
    position: relative; 
    border-radius: 4px;
} 

.css-fvipm8.Mui-disabled { 
    color: rgba(0, 0, 0, 0.38); 
    cursor: default;
} 

.MuiFormLabel-asterisk { 
    color: red; 
    font-size: 22px;
} 

.css-1vng5q { 
    display: flex; 
    height: 0.01em; 
    max-height: 2em; 
    -webkit-box-align: center; 
    align-items: center; 
    white-space: nowrap; 
    color: rgba(0, 0, 0, 0.54); 
    margin-right: 8px; 
    margin-left: -8px;
} 

.css-162edyi { 
    font: inherit; 
    letter-spacing: inherit; 
    color: currentcolor; 
    border: 0px; 
    box-sizing: content-box; 
    background: none; 
    height: 1.4375em; 
    margin: 0px; 
    -webkit-tap-highlight-color: transparent; 
    display: block; 
    min-width: 0px; 
    width: 100%; 
    animation-name: mui-auto-fill-cancel; 
    animation-duration: 10ms; 
    padding: 8.5px 14px 8.5px 0px;
} 

.css-162edyi:invalid { 
    box-shadow: none;
} 

.css-igs3ac { 
    text-align: left; 
    position: absolute; 
    inset: -5px 0px 0px; 
    margin: 0px; 
    padding: 0px 8px; 
    pointer-events: none; 
    border-radius: inherit; 
    border-style: solid; 
    border-width: 1px; 
    overflow: hidden; 
    min-width: 0%; 
    border-color: rgba(0, 0, 0, 0.23);
} 

.css-opb0c2 { 
    position: relative; 
    -webkit-box-flex: 1; 
    flex-grow: 1; 
    display: flex; 
    flex-direction: column; 
    overflow: hidden;
} 

.css-9ffb5l { 
    display: flex; 
    -webkit-box-pack: justify; 
    justify-content: space-between; 
    -webkit-box-align: center; 
    align-items: center; 
    min-height: 52px; 
    border-top: 1px solid;
} 

.css-duaqfz .MuiDataGrid-withBorderColor  { 
    border-color: rgb(224, 224, 224);
} 

.css-zhwrlg { 
    display: flex; 
    flex-flow: wrap; 
    -webkit-box-pack: center; 
    place-content: center; 
    -webkit-box-align: center; 
    align-items: center; 
    position: absolute; 
    box-sizing: border-box; 
    font-family: Roboto, Helvetica, Arial, sans-serif; 
    font-weight: 500; 
    font-size: 0.75rem; 
    min-width: 20px; 
    line-height: 1; 
    padding: 0px 6px; 
    height: 20px; 
    border-radius: 10px; 
    z-index: 1; 
    transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; 
    background-color: rgb(156, 39, 176); 
    color: rgb(255, 255, 255); 
    top: 0px; 
    right: 0px; 
    transform: scale(1) translate(50%, -50%); 
    transform-origin: 100% 0%;
} 

.css-9l3uo3 { 
    margin: 0px; 
    font-family: Roboto, Helvetica, Arial, sans-serif; 
    font-weight: 400; 
    font-size: 1rem; 
    line-height: 1.5; 
    letter-spacing: 0.00938em;
} 

.css-w4glur { 
    position: relative; 
    display: flex; 
    -webkit-box-align: center; 
    align-items: center; 
    -webkit-box-pack: center; 
    justify-content: center; 
    flex-shrink: 0; 
    width: 40px; 
    height: 40px; 
    font-family: Roboto, Helvetica, Arial, sans-serif; 
    font-size: 1.25rem; 
    line-height: 1; 
    border-radius: 50%; 
    overflow: hidden; 
    user-select: none; 
    color: rgb(255, 255, 255); 
    background-color: purple;
} 

.css-1gr8vn2 { 
    margin: 0px 0px 0px 8px; 
    font-family: Roboto, Helvetica, Arial, sans-serif; 
    font-weight: 400; 
    font-size: 1rem; 
    line-height: 1.5; 
    letter-spacing: 0.00938em;
} 

.css-182didf { 
    appearance: none; 
    user-select: none; 
    border-radius: 4px; 
    cursor: pointer; 
    font: inherit; 
    letter-spacing: inherit; 
    color: currentcolor; 
    border: 0px; 
    box-sizing: content-box; 
    background: none; 
    height: 1.4375em; 
    margin: 0px; 
    -webkit-tap-highlight-color: transparent; 
    display: block; 
    min-width: 0px; 
    width: 100%; 
    animation-name: mui-auto-fill-cancel; 
    animation-duration: 10ms; 
    padding: 8.5px 14px;
} 

.css-182didf.Mui-disabled { 
    cursor: default;
} 

.css-182didf.MuiSelect-select { 
    height: auto; 
    min-height: 1.4375em; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
    overflow: hidden;
} 

.css-182didf.Mui-disabled { 
    opacity: 1; 
    -webkit-text-fill-color: rgba(0, 0, 0, 0.38);
} 

.css-182didf.css-182didf.css-182didf { 
    padding-right: 32px;
} 

.css-1k3x8v3 { 
    bottom: 0px; 
    left: 0px; 
    position: absolute; 
    opacity: 0; 
    pointer-events: none; 
    width: 100%; 
    box-sizing: border-box;
} 

.css-1636szt { 
    user-select: none; 
    width: 1em; 
    height: 1em; 
    display: inline-block; 
    fill: currentcolor; 
    flex-shrink: 0; 
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; 
    font-size: 1.5rem; 
    position: absolute; 
    right: 7px; 
    top: calc(50% - 0.5em); 
    pointer-events: none; 
    color: rgba(0, 0, 0, 0.54);
} 

.css-1636szt.Mui-disabled { 
    color: rgba(0, 0, 0, 0.26);
} 

.css-fvipm8.Mui-disabled .MuiOutlinedInput-notchedOutline  { 
    border-color: rgba(0, 0, 0, 0.26);
} 

.css-1mpqbvs { 
    user-select: none; 
    width: 1em; 
    height: 1em; 
    display: inline-block; 
    fill: currentcolor; 
    flex-shrink: 0; 
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; 
    color: rgb(156, 39, 176);
} 

.css-14lo706 { 
    float: unset; 
    width: auto; 
    overflow: hidden; 
    display: block; 
    padding: 0px; 
    height: 11px; 
    font-size: 0.75em; 
    visibility: hidden; 
    max-width: 100%; 
    transition: max-width 100ms cubic-bezier(0, 0, 0.2, 1) 50ms; 
    white-space: nowrap;
} 

.css-y599qu { 
    position: relative; 
    overflow: hidden; 
    display: flex; 
    -webkit-box-align: center; 
    align-items: center; 
    box-sizing: border-box; 
    border-bottom: 1px solid; 
    border-top-left-radius: var(--unstable_DataGrid-radius); 
    border-top-right-radius: var(--unstable_DataGrid-radius);
} 

.Mui-resizeTriggers { 
    animation: 1ms resizeanim; 
    visibility: hidden; 
    opacity: 0;
} 

.Mui-resizeTriggers { 
    content: " "; 
    display: block; 
    position: absolute; 
    top: 0; 
    left: 0; 
    height: 100%; 
    width: 100%; 
    overflow: hidden; 
    z-index: -1;
} 

.css-whi0l6 { 
    overflow: auto; 
    color: rgba(0, 0, 0, 0.87); 
    font-size: 0.875rem;
} 

.css-whi0l6:last-child { 
    padding: 0px;
} 

.css-14lo706 > span  { 
    padding-left: 5px; 
    padding-right: 5px; 
    display: inline-block; 
    opacity: 0; 
    visibility: visible;
} 

.css-vcjdx3 { 
    display: flex; 
    align-items: flex-start; 
    flex-direction: column;
} 

.css-frlfct { 
    overflow: auto; 
    height: 100%; 
    position: relative;
} 

.Mui-resizeTriggers > div  { 
    content: " "; 
    display: block; 
    position: absolute; 
    top: 0; 
    left: 0; 
    height: 100%; 
    width: 100%; 
    overflow: hidden; 
    z-index: -1;
} 

.Mui-resizeTriggers > div  { 
    background: #eee; 
    overflow: auto;
} 

.Mui-resizeTriggers,.Mui-resizeTriggers > div ,.contract-trigger:before { 
    content: " "; 
    display: block; 
    position: absolute; 
    top: 0; 
    left: 0; 
    height: 100%; 
    width: 100%; 
    overflow: hidden; 
    z-index: -1;
} 

.contract-trigger:before { 
    width: 200%; 
    height: 200%;
} 

.css-8nphli { 
    position: relative; 
    display: flex; 
    -webkit-box-align: center; 
    align-items: center; 
    padding-left: 16px; 
    min-height: 52px; 
    padding-right: 2px;
} 

@media (min-width: 600px){ 
  .css-8nphli { 
    padding-left: 24px; 
    padding-right: 24px;
  } 
}     

@media (orientation: landscape){ 
  .css-8nphli { 
    min-height: 48px;
  } 
}     

@media (min-width: 600px){ 
  .css-8nphli { 
    min-height: 64px;
  } 
}     

@media (min-width: 0px) and (orientation: landscape){ 
  .css-8nphli { 
    min-height: 52px;
  } 
}     

@media (min-width: 600px){ 
  .css-8nphli { 
    min-height: 52px; 
    padding-right: 2px;
  } 
}     

.css-1tmxkya { 
    position: sticky; 
    top: 0px; 
    left: 0px; 
    width: 0px; 
    height: 0px; 
    z-index: 4;
} 

.css-1mrwq1p { 
    flex: 1 1 100%;
} 

.css-1chpzqh { 
    font-family: Roboto, Helvetica, Arial, sans-serif; 
    font-weight: 400; 
    font-size: 0.875rem; 
    line-height: 1.43; 
    letter-spacing: 0.01071em; 
    flex-shrink: 0;
} 

.css-whi0l6 .MuiTablePagination-selectLabel  { 
    display: none;
} 

@media (min-width: 600px){ 
  .css-whi0l6 .MuiTablePagination-selectLabel  { 
    display: block;
  } 
}     

.css-rmmij8 { 
    font-family: Roboto, Helvetica, Arial, sans-serif; 
    font-weight: 400; 
    line-height: 1.4375em; 
    letter-spacing: 0.00938em; 
    box-sizing: border-box; 
    position: relative; 
    cursor: text; 
    display: inline-flex; 
    -webkit-box-align: center; 
    align-items: center; 
    color: inherit; 
    font-size: inherit; 
    flex-shrink: 0; 
    margin-right: 32px; 
    margin-left: 8px;
} 

.css-8nphli .MuiTablePagination-actions  { 
    flex-shrink: 0; 
    margin-left: 20px;
} 

.css-duaqfz .MuiDataGrid-columnHeader  { 
    -webkit-tap-highlight-color: transparent; 
    padding: 0px 10px; 
    box-sizing: border-box;
} 

.css-duaqfz .MuiDataGrid-columnHeader  { 
    position: relative; 
    display: flex; 
    -webkit-box-align: center; 
    align-items: center;
} 

.css-duaqfz .MuiDataGrid-columnHeader--sortable  { 
    cursor: pointer;
} 

.css-1inm7gi { 
    position: absolute; 
    display: flex; 
    flex-direction: column;
} 

.css-1cccqvr { 
    appearance: none; 
    user-select: none; 
    border-radius: 0px; 
    cursor: pointer; 
    font: inherit; 
    letter-spacing: inherit; 
    color: currentcolor; 
    padding: 4px 0px 5px; 
    border: 0px; 
    box-sizing: content-box; 
    background: none; 
    height: 1.4375em; 
    margin: 0px; 
    -webkit-tap-highlight-color: transparent; 
    display: block; 
    min-width: 0px; 
    width: 100%; 
    animation-name: mui-auto-fill-cancel; 
    animation-duration: 10ms;
} 

.css-rmmij8 .MuiTablePagination-select  { 
    padding-left: 8px; 
    padding-right: 24px; 
    text-align: right; 
    text-align-last: right;
} 

.css-1cccqvr.MuiSelect-select { 
    height: auto; 
    min-height: 1.4375em; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
    overflow: hidden;
} 

.css-1cccqvr.css-1cccqvr.css-1cccqvr { 
    padding-right: 24px; 
    min-width: 16px;
} 

.css-1utq5rl { 
    user-select: none; 
    width: 1em; 
    height: 1em; 
    display: inline-block; 
    fill: currentcolor; 
    flex-shrink: 0; 
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; 
    font-size: 1.5rem; 
    position: absolute; 
    right: 0px; 
    top: calc(50% - 0.5em); 
    pointer-events: none; 
    color: rgba(0, 0, 0, 0.54);
} 

.css-1deacqj.Mui-disabled { 
    pointer-events: none; 
    cursor: default;
} 

.css-1deacqj.Mui-disabled { 
    background-color: transparent; 
    color: rgba(0, 0, 0, 0.26);
} 

.css-duaqfz .MuiDataGrid-columnHeaderDraggableContainer  { 
    display: flex; 
    width: 100%; 
    height: 100%;
} 

.css-duaqfz .MuiDataGrid-columnSeparator  { 
    visibility: hidden; 
    position: absolute; 
    z-index: 100; 
    display: flex; 
    flex-direction: column; 
    -webkit-box-pack: center; 
    justify-content: center; 
    color: rgb(224, 224, 224);
} 

.css-duaqfz .MuiDataGrid-columnSeparator--sideRight  { 
    right: -12px;
} 

.css-duaqfz .MuiDataGrid-columnHeaders:hover .MuiDataGrid-columnSeparator { 
    visibility: visible; 
    width: auto;
} 

.css-duaqfz .MuiDataGrid-columnHeaders:hover .MuiDataGrid-columnSeparator, .css-duaqfz .MuiDataGrid-columnSeparator--resizing { 
    visibility: visible; 
    width: auto;
} 

.css-14349d1 { 
    width: 100%; 
    height: 100%; 
    display: flex; 
    align-self: center; 
    -webkit-box-align: center; 
    align-items: center; 
    -webkit-box-pack: center; 
    justify-content: center; 
    background-color: var(--unstable_DataGrid-overlayBackground);
} 

.css-duaqfz .MuiDataGrid-columnHeaderTitleContainer  { 
    display: flex; 
    -webkit-box-align: center; 
    align-items: center; 
    min-width: 0px; 
    flex: 1 1 0%; 
    white-space: nowrap; 
    overflow: hidden;
} 

.css-duaqfz .MuiDataGrid-iconSeparator  { 
    color: inherit;
} 

.css-duaqfz .MuiDataGrid-columnHeaderTitleContainerContent  { 
    overflow: hidden; 
    display: flex; 
    -webkit-box-align: center; 
    align-items: center;
} 

.css-cp5hn7 { 
    display: flex; 
    visibility: hidden; 
    width: 0px;
} 

.css-duaqfz .MuiDataGrid-columnHeader:hover .MuiDataGrid-iconButtonContainer { 
    visibility: visible; 
    width: auto;
} 

.css-mh3zap { 
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap; 
    font-weight: var(--unstable_DataGrid-headWeight);
} 

.css-1j7qk7u { 
    display: inline-flex; 
    -webkit-box-align: center; 
    align-items: center; 
    -webkit-box-pack: center; 
    justify-content: center; 
    position: relative; 
    box-sizing: border-box; 
    -webkit-tap-highlight-color: transparent; 
    background-color: transparent; 
    outline: 0px; 
    border: 0px; 
    margin: 0px; 
    cursor: pointer; 
    user-select: none; 
    vertical-align: middle; 
    appearance: none; 
    text-decoration: none; 
    text-align: center; 
    flex: 0 0 auto; 
    border-radius: 50%; 
    overflow: visible; 
    color: rgba(0, 0, 0, 0.54); 
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; 
    padding: 5px; 
    font-size: 1.125rem;
} 

.css-1j7qk7u:hover { 
    background-color: rgba(0, 0, 0, 0.04);
} 

.css-1k33q06 { 
    user-select: none; 
    width: 1em; 
    height: 1em; 
    display: inline-block; 
    fill: currentcolor; 
    flex-shrink: 0; 
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; 
    font-size: 1.25rem;
} 

.css-duaqfz .MuiDataGrid-sortIcon  { 
    font-size: inherit;
} 

.css-duaqfz .MuiDataGrid-columnHeader:not(.MuiDataGrid-columnHeader--sorted) .MuiDataGrid-sortIcon  { 
    opacity: 0; 
    transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
} 

.css-39nlm1 { 
    display: inline-flex; 
    -webkit-box-align: center; 
    align-items: center; 
    -webkit-box-pack: center; 
    justify-content: center; 
    position: relative; 
    box-sizing: border-box; 
    -webkit-tap-highlight-color: transparent; 
    background-color: transparent; 
    outline: 0px; 
    border: 0px; 
    margin: 0px; 
    cursor: pointer; 
    user-select: none; 
    vertical-align: middle; 
    appearance: none; 
    text-decoration: none; 
    text-align: center; 
    flex: 0 0 auto; 
    font-size: 1.5rem; 
    padding: 8px; 
    border-radius: 50%; 
    overflow: visible; 
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; 
    color: rgb(25, 118, 210);
} 

.css-39nlm1:hover { 
    background-color: rgba(0, 0, 0, 0.04);
} 

.css-39nlm1:hover { 
    background-color: rgba(25, 118, 210, 0.04);
} 

.css-jxtyyz { 
    user-select: none; 
    width: 1em; 
    height: 1em; 
    display: inline-block; 
    fill: currentcolor; 
    flex-shrink: 0; 
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; 
    font-size: 1.5rem; 
    color: rgb(25, 118, 210);
} 


@keyframes jss15 { 
  0% {  
      transform: translateX(100%); 
      transform: translateX(100%); 
  }  
  100% {  
      transform: translateX(-100%); 
      transform: translateX(-100%); 
  }  

} 
@keyframes mui-auto-fill-cancel { 
  0% {  
      display: block; 
      display: block; 
  }  

} 
@keyframes resizeanim { 
  0% {  
      opacity: 0; 
      opacity: 0; 
  }  
  100% {  
      opacity: 0; 
      opacity: 0; 
  }  

} 
/* These were inline style tags. Uses id+class to override almost everything */
#style-k4Qko.style-k4Qko {  
   color: yellow;  
    font-size: 20px;  
}  
#style-syB4R.style-syB4R {  
   width: 100%;  
}  
#style-D1Pv2.style-D1Pv2 {  
   overflow: hidden;  
    margin-bottom: 0px;  
}  
#style-UtWyh.style-UtWyh {  
   left: 0px;  
    width: 288px;  
}  
#style-avXNd.style-avXNd {  
   margin-top: 1em;  
}  
#style-kQcmr.style-kQcmr {  
   min-height: 56px;  
    max-height: 56px;  
    line-height: 56px;  
}  
#style-MXQhM.style-MXQhM {  
   transform: translate3d(0px, 0px, 0px);  
}  
#style-RzofY.style-RzofY {  
   height: 56px;  
    width: 175.667px;  
    min-width: 175.667px;  
    max-width: 175.667px;  
}  
#style-LeB6B.style-LeB6B {  
   min-height: 56px;  
    opacity: 1;  
}  
#style-zZhkU.style-zZhkU {  
   height: 56px;  
    width: 175.667px;  
    min-width: 175.667px;  
    max-width: 175.667px;  
}  
#style-s4ZGO.style-s4ZGO {  
   min-height: 56px;  
    opacity: 1;  
}  
#style-qdZR4.style-qdZR4 {  
   height: 56px;  
    width: 175.667px;  
    min-width: 175.667px;  
    max-width: 175.667px;  
}  
#style-V9zxo.style-V9zxo {  
   min-height: 56px;  
    opacity: 1;  
}  
#style-tPjrA.style-tPjrA {  
   height: 56px;  
    width: 175.667px;  
    min-width: 175.667px;  
    max-width: 175.667px;  
}  
#style-JEmST.style-JEmST {  
   min-height: 56px;  
    opacity: 1;  
}  
#style-pmC1m.style-pmC1m {  
   height: 56px;  
    width: 175.667px;  
    min-width: 175.667px;  
    max-width: 175.667px;  
}  
#style-7wmit.style-7wmit {  
   min-height: 56px;  
    opacity: 1;  
}  
#style-TXSDv.style-TXSDv {  
   height: 56px;  
    width: 175.667px;  
    min-width: 175.667px;  
    max-width: 175.667px;  
}  
#style-aJk5E.style-aJk5E {  
   min-height: 56px;  
    opacity: 1;  
}  
#style-8mAg8.style-8mAg8 {  
   flex: 0 1 0%;  
    overflow: visible;  
}  
#style-9d4Na.style-9d4Na {  
   overflow-y: hidden;  
}  
#style-zj8wg.style-zj8wg {  
   height: 104px;  
    width: 1054px;  
}  
#style-jWXWA.style-jWXWA {  
   width: 1054px;  
    height: 104px;  
    min-height: 100%;  
}  
#style-5vv66.style-5vv66 {  
   width: 1055px;  
    height: 161px;  
}  
